body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.hidden{
    display:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#modal-content .navbar navbar-inverse navbar-fixed-top{
    display:none;
    background-color:#3D2B2D;
}
.navbar-inverse .navbar-nav>li>a {
    color: #a82323;
    margin-right :40px;

}
.navbar-inverse .navbar-nav>li>a{
    padding-bottom:0px;
    padding-top: 50px;
}
#myTable_wrapper {
  margin-top: 60px !important;
}
.DivPictureDetails{
    display:inline-block;

}
.PictureDetails{
    width: 150px; 
    height:150px; 
    margin-left:170px; 
    margin-top:15px;

}
.TableDetails{
    display:inline-block;
}
.Price{
    display:inline-block;
}
.Picture{
    display:inline-block;
}

 .btnNav:hover{
     border-color:white;
 }
#btnPanelBooksIndex:hover{
     border-color:#3D2B2D;

 }
btnPanelBooksIndex{
         width: 120px; 
         height:38px;
         font-size:20px;
         color:black; 
         margin-top: -50px;
         margin-bottom:-66px; 
         background-color:#D6BBA0;       
}
#btnCreateCountry:hover {
    border-color: #3D2B2D;
}       
#btnCreateCountry{
         width: 140px; 
         height:38px;
         font-size:20px;
         color:black; 
         margin-top: -50px;
         margin-bottom:-66px; 
         background-color:#D6BBA0;            

}
#btnCreateAuthor:hover{
         border-color:#3D2B2D;
}
#btnCreateAuthor{
         width: 120px; 
         height:38px;
         font-size:20px;
         color:black; 
         margin-top: -50px;
         margin-bottom:-66px; 
         background-color:#D6BBA0;
}
#grid:hover{
     border-color:#3D2B2D;
}
#Table:hover {
    border-color: #3D2B2D;
}
#gridContent:hover{
    border-color: #3D2B2D;

} 
 
  
#CreateBook :hover{
    border-color: #3D2B2D;

} 
   
#CreateBook {
    height: 38px;
    font-size: 18px;
    color: black;
    margin-bottom: -66px;
    background-color: #D6BBA0;
}
.Publishd{
    display:inline-block;
    margin-top:5px
}

<!-- Boo\Details-->

.price {
    background-color: chartreuse;
    width: 80px;
    font-size: 20px;
    margin-left: 23px;
}   
     .authorh4
     {
        display:inline-block;
        margin-left:151px;
     }  
     .Pagerh4
     {
         display:inline-block;
         margin-left:92px;
     }   
     .countryh4{
         display:inline-block;
         margin-left:151px;
     }   
   
     <!-- book index-->
     .mynavbar
     {
         background-color:#FFFCB5;
          margin-top:60px;
          margin-bottom:-50px; 
     }
#myTable {
    margin-top: 60px;
}
.myHorzontal {
    margin-top: 80px;
}
<!--
Attribute/AttributeAddTextValue -->

.mynavbar {
    background-color:#FFFCB5; 
    margin-top:60px;
}
#grid{
    font-size: 17px; 
       height:38px;
     margin-bottom:-8px;
     background-color: #D6BBA0;
     margin-left:4px"
}
 <!-- Attribute/AttributeAddTextValue -->
#attributevalueList{
    display: inline-block;
    float: right;
    margin-top: -354px;
    margin-right: 60px;
}
      Book/-IndexGrid->
#IndexGridserch{
      margin-top:14px;
      background-color:#f5f5f5 !important;
      width: 1043px; 
      margin-left: 20px;
          }
#searchrP{
    float:left;
    margin-left:60px;
    padding-right:10px;
}
#gridContent{
     width:500px; 
     height:330px; 
     background-color:#FFFCB5;
     margin-left:37px; float:left;
     margin-top:10px;
}
.price{
   background-color:chartreuse;
    width:80px;
    font-size:20px;
    margin-left:23px;
}
.author{
    display:inline-block;
    margin-left:130px;
}
#action{
    float:right;
    margin-right:15px;
}
#contenierContent{
    margin-top:100px;
    margin-left:21px;
    background-color:#FFFCB5;
    margin-right: 50px;
}
#grid
{
      font-size: 17px;
      height:38px; 
      margin-bottom:-1px;
      background-color: 
      #D6BBA0;margin-left:4px
}
/* book/Index*/

#IndexGridContent{
    font-size: 17px;
    height:38px;
    margin-bottom:-8px;
    background-color: #D6BBA0;
    margin-left:4px
}
#IndexCreate{
     font-size: 17px;
     height:38px;
     margin-bottom:-8px;
     background-color: #D6BBA0;
     margin-left:4px

}
#mynavbar{
    background-color:#FFFCB5;
    margin-top:60px;
}
/* book/EditAppendAttribute*/

#myselect {
     height:33px;
}
/* book/Edit*/

#jpg
{
    height:33px;
}
/* Layout*/

.btnNav{
 color:#FFFCB5;
 display:inline-block;
 font-size:19px;
 margin-top:0px
}
#editSave {
    padding-bottom: 10px;
    margin-left: 186px;
    margin-top: 12px;
}
#attributedDelete {
    padding-bottom: 20px;
}